<%= form_with(model: books) do |form| %>
  <% if books.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(books.errors.count, "error") %> prohibited this books from being saved:</h2>

      <ul>
        <% books.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
