<div id="<%= dom_id reservation %>">
  <p>
    <strong>Id:</strong>
    <%= reservation.id %>
  </p>

   <p>
    <strong>Book:</strong>
    <%= reservation.book.title %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= reservation.pick_up_time %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reservation.member.user.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>
</div>
