<h1>Reservation</h1>

<%= form_with(url: reservations_path, method: :get, local: true) do %>
  <div>
    <%= label_tag(:query, "Search by reservation Id:") %>
    <%= text_field_tag(:query, params[:query]) %>
  </div>
  <div>
    <%= submit_tag("Search") %>
  </div>
<% end %>

<div id="reservation">
  <% @reservations.each do |reservation| %>
    <%= render reservation %>
    <%if reservation.status == "reserved" %>
      <%= link_to "Lend the book", lend_reservation_path(reservation), data: { 'turbo-method' => :post } %>
    <% end %>
    </br>
    <%if reservation.status == "lent" %>
      <%= link_to "Return the book", returned_reservation_path(reservation), data: { 'turbo-method' => :post } %>
    <% end %>
  <% end %>
</div>

<%= link_to "Home", root_path, class: "btn btn-primary" %>
